---
import GlobalStyles from '../../../src/components/GlobalStyles.astro';
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Astro Image Processor</title>
  </head>
  <body>
    <h1>Astro Image Processor</h1>
    <slot />
  </body>
</html>

<GlobalStyles />
